@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

@theme {
    --color-primaryDark: #79561E;
    --color-primaryMain: #BF8D3C;
    --color-primaryLight: #F9EECD;
    --color-primarySoft: #FAF8F2;
    --color-neutralBlack: #080808;
    --color-neutralDarkGray: #616B75;
    --color-neutralLightGray: #7F8C99;
    --color-neutralSoftGray: #E5E7EB;
    --color-neutralWhite: #FFFFFF;
    --color-footerColor:#111D35;
}